/* ------- GLOBAL ------- */
html,body{
    margin: 0;
    /* border: 1px solid yellow; */
    height: 100%;

}

/* ------- APP ------- */
#app{
    height: 100%;
    /* border: 1px solid salmon; */
}

/* ------- NAVBAR ------- */

#navbar img{
    height: 30px;
    border-radius: 50%;
    margin: 1%
}

.navbar-brand{
    padding:0;
}

#navbar span{
    /* margin:5px 0; */
}

/* ------- HEADER ------- */

.socialDiv a,a:link:active, a:visited:active{
    color:rgb(61, 61, 55);
    margin: 5% 1%;
}
#header a:hover{
    color:rgb(219, 219, 219)
}

#root{
    height: 100%;
}

#header {
    /* border: 5px solid rgb(8, 190, 214); */
    text-align: center;
    padding: 5% 10%;
    height: 100%;
    background-color: #79B4B7;
    color:rgb(255, 255, 255)
    /* margin: 0 auto; */
    /* Might need to add some media queries if the 
    height is too short */
}

#header p{
    margin: 0 20%;
    text-align: justify;
    /* width: 300px */
}

.resumeBtn {
    margin: 0
}

.socialDiv{
    padding: 2% 0;
}

.profilePic{
    height: 150px;
    border-radius: 50%;
    margin: 1%
}

.socialIcon{
    height: 20px;
}

/* ------- SKILLS ------- */
#skills{
    background-color: #F8F0DF
    ;
}

/* ------- SKILLS CARD ------- */
#skillsCard{
    margin: 0 5%
}

#skillsCard .row{
    margin: 0;
    padding: 2% 2%
}
/* need some media queries here for the medium */
#skillsCard .row div{
    /* margin: 0; */
    padding: 2% 2%
}


.card{
    height: 320px;
    width: 400px;
    box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),0 5px 15px rgba(103, 103, 109, 0.219);
    /* border-radius: 30px; */
}

.my-card-header{
    /* border-radius: 30px; */
    padding: 30px 0 0;
    text-align: center;
    /* background-image: linear-gradient( rgb(48, 223, 247), rgba(255,0,0,0)); */

}

.top-card-left{
    /* position: absolute; */
    padding-left: 20%;
}

.top-card-right{
    /* position: absolute; */
    padding-left: 3%;

}

/* ------- SKILL ------- */
#skill{
    /* background-color: #FEFBF3; */
    /* border-radius: 50%; */
    /* width: 400px; */
    /* height: 100px; */
    /* box-shadow: 0 15px 35px rgba(38, 38, 70, 0.219),0 5px 15px rgba(0, 0, 0, 0.384); */
    /* box-shadow: 0 15px 35px rgba(50, 50, 93, 0.13),0 5px 15px rgba(0, 0, 0, 0.116) */
    text-align: center;
    display: inline-block !important;
    /* margin: 0 10px 10px 0; */
}

#skill div div{
    background-color: #FEFBF3;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    /* box-shadow: 0 15px 35px rgba(38, 38, 70, 0.219),0 5px 15px rgba(0, 0, 0, 0.384); */
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.13),0 5px 15px rgba(0, 0, 0, 0.116);
    margin: 0;
}

#skill p{
    margin-top: 5px;
    color: gray
    /* box-shadow: 0 5px 35px gray;
    background-color: transparent; */
}

#skill img{
    height: 30px;
}
