/* ------- GLOBAL ------- */
:root{
  --headerColor: radial-gradient(circle, rgba(12,83,138,1) 0%, rgba(18,93,152,1) 29%, rgba(40,128,199,1) 100%);
  /*--secondColor: #DDDDDD;
  --thirdColor: radial-gradient(circle, rgba(60,141,173,1) 0%, rgba(79,152,181,1) 32%, rgba(112,171,194,1) 100%);
  --fourthColor: radial-gradient(circle, rgba(245,169,98,1) 0%, rgba(247,179,114,1) 78%, rgba(251,186,125,1) 100%); */
  /* --headerColor: radial-gradient(circle, rgba(100,201,207,1) 0%, rgba(111,211,217,1) 32%, rgba(162,226,230,1) 100%); */
  --secondColor: #f8f8f6;
  --thirdColor: radial-gradient(circle, rgba(42,128,196,1) 0%, rgba(54,142,212,1) 35%, rgba(90,182,255,1) 100%);
  --fourthColor: radial-gradient(circle, rgb(116, 116, 116) 0%, rgb(124, 124, 124) 35%, rgb(175, 175, 175) 100%);

}
html,
body {
  margin: 0;
  /* border: 1px solid yellow; */
  height: 100%;
}

#root {
  height: 100%;
}

.my-btn:hover{
  color: white;
}

/* ------- APP ------- */
#app {
  height: 100%;
  /* border: 1px solid salmon; */
}

/* ------- NAVBAR ------- */
#navbar{
  background-color: var(--thirdColor);
}
#navbar img {
  height: 30px;
  border-radius: 50%;
  margin: 1% 5%;
  box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),
    0 5px 15px rgba(103, 103, 109, 0.219);
}

.navbar-brand {
  padding: 0;
}

#navbar span {
  /* margin:5px 0; */
}

#navbarNav{
  padding-left: 2%;
}

/* ------- HEADER ------- */
#header .socialDiv a,
#header .socialDiv a:link:active,
#header .socialDiv a:visited:active {
  color: var(--secondColor);
  margin: 5% 1%;
}

#header .socialDiv a:hover {
  color: var(--secondColor);
}







#header {
  /* border: 5px solid rgb(8, 190, 214); */
  text-align: center;
  padding: 10% 10%;
  height: 100%;
  /* background-color: var(--headerColor); */
  background: var(--headerColor);
  /* background: rgb(3,145,152); */
  /* background: linear-gradient(90deg, rgba(3,145,152,1) 0%, rgba(0,173,181,1) 34%, rgba(0,207,217,1) 100%); */
  color: rgb(255, 255, 255);
  /* margin: 0 auto; */
  /* Might need to add some media queries if the 
    height is too short */
}

#header p {
  margin: 2% 20% 0;
  text-align: justify;
  font-size: 17px;
  /* width: 300px */
}

#header h1{
  font-size: 50px;
}

#header h2{
  margin: 0;
}

#header h3{
  font-size: 15px;
}

#header .resumeBtn {
  margin: 1% 1%;
  color: white;
}
/* .resumeBtn:hover {
  margin: 0;
  color: white;
} */
#header .btns-div{
/* background-color: red; */
margin: 0 20%;
}

#header .socialDiv {
  /* padding: 2% 0; */
  margin-left: 20%;
  height: 70px;
}

.profilePic {
  height: 150px;
  border-radius: 50%;
  margin: 1% 2%;
  box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),
    0 5px 15px rgba(103, 103, 109, 0.219);
}

.socialIcon {
  height: 20px;
}

/* ------- SKILLS ------- */
#skills {
  background: var(--secondColor);
}

#skills h1{
    padding-top: 2%;
    text-align: center;
    color: #125D98;
    /* text-shadow: 0 2px 4px grey; */

}

/* ------- SKILLS CARD ------- */
#skillsCard {
  margin: 0 5%;
}

#skillsCard .row {
  margin: 0;
  padding: 2% 2%;
}
/* need some media queries here for the medium */
#skillsCard .row div {
  /* margin: 0; */
  padding: 2% 2%;
}

@media (max-width: 1450px) and (min-width: 980px) {
  #skillsCard .col-lg-4 {
    width: 50%;
  }
}

@media (max-width: 925px) and (min-width: 750px) {
  #skillsCard .col-lg-4 {
    width: 100%;
  }
}

#skillsCard .card {
  height: 320px;
  width: 400px;
  box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),
    0 5px 15px rgba(103, 103, 109, 0.219);
  /* border-radius: 30px; */
}

.my-card-header {
  /* border-radius: 30px; */
  padding: 30px 0 0;
  text-align: center;
  /* background-image: linear-gradient( rgb(48, 223, 247), rgba(255,0,0,0)); */
}

.top-card-left {
  /* position: absolute; */
  padding-left: 20%;
}

.top-card-right {
  /* position: absolute; */
  padding-left: 3%;
}

/* ------- SKILL ------- */
#skill {
  /* background-color: #FEFBF3; */
  /* border-radius: 50%; */
  /* width: 400px; */
  /* height: 100px; */
  /* box-shadow: 0 15px 35px rgba(38, 38, 70, 0.219),0 5px 15px rgba(0, 0, 0, 0.384); */
  /* box-shadow: 0 15px 35px rgba(50, 50, 93, 0.13),0 5px 15px rgba(0, 0, 0, 0.116) */
  text-align: center;
  display: inline-block !important;
  /* margin: 0 10px 10px 0; */
}

#skill div div {
  background-color: #fefbf3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  /* box-shadow: 0 15px 35px rgba(38, 38, 70, 0.219),0 5px 15px rgba(0, 0, 0, 0.384); */
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.13),
    0 5px 15px rgba(0, 0, 0, 0.116);
  margin: 0;
}

#skill p {
  margin-top: 5px;
  color: gray;
  /* box-shadow: 0 5px 35px gray;
    background-color: transparent; */
}

#skill img {
  height: 35px;
  /* width:  30px; */
}

/* ------- PROJECTS ------- */
#projects{
  /* height: 500px; */
  background: var(--thirdColor);
  padding-bottom: 5%;
}
#projects h1{
  text-align: center;
  padding: 2% 0;
  color: #f8f8f6
}

#projects .carousel-item .d-block{
  height: 600px;
  background-color: #f8f8f6;
  margin: 2% 15% 5%;
  padding: 2%
}

#projects .carousel-text{
  padding-right: 5%;
  text-align: justify;
}
#projects p{
  padding: 5% 0;
}

#projects .project-btn{
  height: 40px;
  margin-right: 1%;
  font-size: 20px;
  /* display: inline-block; */
  /* width: 400px; */
}

#projects .vertical-img{
  height: 100%;
  /* max-width: 300px; */
  /* display: inline-block; */
  /* width: 400px; */
}
#projects .horizontal-img{
  height: 100%;
  /* max-width: 300px; */
  /* display: inline-block; */
  /* width: 400px; */
}
@media (max-width: 1080px)  {
  #projects .horizontal-img{
    height: 90%;
  }
}

#projects .flex-column .carousel-text{
  padding-right: 5%;
  text-align: justify;
}
#projects .flex-column p{
  padding: 1% 0;
}

#projects .flex-column .img-div{
  /* background-color: red; */
  height: 70%;
}


#projects .flex-column .project-btn{
  height: 40px;
  margin-right: 1%;
  font-size: 20px;
  margin-bottom: 5%;
  /* display: inline-block; */
  /* width: 400px; */
}

#projects img{
  box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),
    0 5px 15px rgba(103, 103, 109, 0.219);
}


.carousel-control-prev , .carousel-control-next{
  background-color: rgba(139, 139, 139, 0.144);
  width: 100px;
}

/* ------- Experience ------- */
#experience{
    background: var(--secondColor);
}

#experience p{
  margin-bottom: 20%;
  text-align: justify;
}

#experience h1{
  padding: 2% 0;
  text-align: center;
  color: #125D98
}

#experience h3{
  font-size: 23px;
}

#experience h4{
  font-size: 20px;
  font-weight: bold;
}

#experience img{
  height: 50px;
}

#experience .time-line{
  /* background-color: red; */
  /* margin: 0; */
  /* color: #64c9cf; */
}

.experience-div-right{
  margin-right: 20%;
  /* background-color: red; */
}

.experience-div-left{
  margin-left: 20%;
  /* background-color: red; */
}

/* ------- EDUCATION ------- */
#education{
  background: var(--thirdColor);
  padding: 0 10% 5%;
}

#education h1{
  padding: 2% 0;
  text-align: center;
  color: #f8f8f6
}

#education .card{
  height: 300px;
  width: 500px;
  border: none;
}

.education-school{
  padding: 5%;
  text-align: center;
  /* background-color: #5ab6ff; */
  background: linear-gradient(90deg, rgba(84,160,221,1) 0%, rgba(90,182,255,1) 50%, rgba(90,182,255,1) 100%);
}

#education .card-body{
  padding-left: 10%;
}

.education-card{
  margin-bottom: 5%;
  box-shadow: 0 15px 35px rgba(103, 103, 109, 0.219),
    0 5px 15px rgba(103, 103, 109, 0.219);
}

.education-card h5{
  font-size: 20px;
  margin: 0;
}

.education-date{
  background: #5ab6ff;
  display: inline-block;
  border-radius: 5px;
  padding: 1px 5px;
  color: white;
  margin: 4% 0;
}
.education-card .education-btn {
  display: block;
  width: 145px;
  /* margin: 4% 0; */
  text-align: center;
}

.education-card h6{
  font-size: 15px;
  color: gray;
  /* padding-top: 10px; */
}

.education-card img{
  height: 50px;
}

@media (max-width: 1370px) and (min-width: 980px) {
  #education .col-md-12 {
  /* background-color: red; */

    width: 100%;
  }
  #education .col-md-6 {
    /* background-color: green; */
  
      width: 50%;
    }
}

@media (max-width: 890px) and (min-width: 750px) {
  #education .col-sm-12 {
  /* background-color: green; */

    width: 100%;
  }
}

/* ------- FOOTER ------- */
#footer{
  background: var(--fourthColor);
  color: var(--secondColor);
  /* background: linear-gradient(90deg, rgba(254,73,16,1) 0%, rgba(255,87,34,1) 34%, rgba(255,114,70,1) 100%); */
}
#footer h1{
  padding: 2% 0;
  text-align: center;
}

#footer .d-flex div{
  padding: 0 2%;
}
#footer .d-flex a{
  margin: 0 5%;
}

#footer .location{
  /* background-color: cadetblue; */
  display: inline-block;
  border-radius: 5px;
  padding: 1px 5px;
  /* color: white; */
  /* margin: 4% 0; */
}

#footer .socialDiv a,
.socialDiv a:link:active,
.socialDiv a:visited:active {
  color: var(--secondColor);
  margin: 5% 1%;
}

#footer .socialDiv a:hover {
  color: var(--secondColor);
}

#footer .socialDiv {
  /* padding: 2% 0; */
  /* margin-left: 20%; */
  height: 70px; 
}


.copy-right{
  text-align: center;
  padding-bottom: 1%;
}

@media (max-width: 1080px) {
  #footer .contact-div div div {
    width: 100%;
    /* display: block; */
  /* background-color: red; */

  }
}

@media (max-width: 1080px) {
  #footer .contact-div div div {
    width: 100%;
    /* display: block; */
  /* background-color: red; */

  }
}
.contact-div{
  /* background-color: red; */
  margin: 0 30%;
  text-align: center;

  /* display: inline;
  display: flex */

}

@media (max-width: 1610px) and (min-width: 1080px) {
  .contact-div{
    /* background-color: red; */
    margin: 0 20%;
    text-align: center;
  
    /* display: inline;
    display: flex */
  
  }
}







